* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.content {
  max-width: 512px;
  margin: 0 auto;
  text-align: center;
}

.info {
  justify-content: space-between;
  margin-top: 1rem;
}

a {
  color: inherit;
}

.author {
  text-align: right;
  font-style: italic;
  color: rgb(104, 104, 104);
  font-size: 0.95rem;
}

h2 {
  margin: 3rem 0;
  margin-bottom: 1rem;
}

.class-info {
  display: flex;
  flex-direction: column;
}

.info-content {
  display: flex;
  justify-content: left;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.info-content > div {
  margin-right: 1rem;
}

.button {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  background-color: rgb(192, 192, 192);
  font-size: 1.3rem;
  margin-top: 2rem;
  max-width: 200px;
  width: 60%;
  padding: 0.5rem;
}

@media screen and (max-width: 512px) {
  .content {
    padding: 1rem;
  }

  h1 {
    font-size: 1.25rem;
  }

  .desc {
    font-size: 0.85rem;
  }

  .author {
    font-size: 0.8rem;
  }
}
